<html>
	<head>
		<meta http-equiv="refresh" content="0; URL=<%= repl_url %>" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="<%= repl_name %> | A <%= repl_lang %> Repl by <%= repl_author %>" />
		<meta name="twitter:description" content="<%= repl_desc %>" />
		<meta name="twitter:image" content="<%= repl_img %>" />
		<meta property="og:url" content="<%= repl_url %>" />
		<meta property="og:title" content="<%= repl_name %> | A <%= repl_lang %> Repl by <%= repl_author %>" />
		<meta property="og:description" content="<%= repl_desc %>" />
		<meta property="og:image" content="<%= repl_img %>" />
		<script async defer data-domain="replit.sh" src="https://plausible.io/js/plausible.js"></script>
	</head>
	<body style="background-color: #000000">
		<p style="color: #ffffff">Redirecting...</p>
	</body>
</html>